:host ::ng-deep {
    .p-inputtext {
        width: 100%;
        
        &.border-red-500 {
            border-color: #ef4444 !important;
            box-shadow: 0 0 0 1px #ef4444 !important;
        }
    }

    .p-inputnumber {
        width: 100%;
        
        .p-inputnumber-input.border-red-500 {
            border-color: #ef4444 !important;
            box-shadow: 0 0 0 1px #ef4444 !important;
        }
    }

    .p-floatlabel {
        width: 100%;
    }

    .p-datepicker {
        width: 100%;
        
        .p-inputtext.border-red-500 {
            border-color: #ef4444 !important;
            box-shadow: 0 0 0 1px #ef4444 !important;
        }
    }

    .p-select {
        &.border-red-500 {
            .p-select-label {
                border-color: #ef4444 !important;
                box-shadow: 0 0 0 1px #ef4444 !important;
            }
        }
    }

    // Estilo para el mensaje de error
    small.text-red-500 {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.75rem;
        color: #ef4444;
    }
}