
<app-create-resident
    [selected]="selectedResident"
    (created)="loadResidents()"
></app-create-resident>

<p-table 
    #dt2
    scrollHeight="490px"
    selectionMode="single"
    [(selection)]="selectedResidents"
    dataKey="residentId"
    [value]="residents" 
    [tableStyle]="{ 'min-width': 'max-content' }" 
    [scrollable]="true"
    [paginator]="true"
    [rows]="15"
    [rowsPerPageOptions]="[15, 20, 25]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['residentId', 'name', 'dni']"
    (onFilter)="onTableFilter($event)"
    showGridlines
    size="small"
>
    <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="onInput($event)" placeholder="Buscar" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of columns"
                class="!text-center" 
                pFrozenColumn 
                [frozen]="col.frozen!" 
                [alignFrozen]="col.alignFrozen!"
            >
                {{col.header}}
            </th>
            <!-- <th *ngFor="let col of getFrozenColumns()" [ngClass]="col.class" pFrozenColumn [frozen]="true" alignFrozen="right">{{col.header}}</th> -->
        </tr>
        <!-- <tr>
            <th *ngFor="let col of columns" class="!text-center">
                <p-columnFilter 
                    [type]="col.filterType!" 
                    [field]="col.field!" 
                    [matchMode]="col.matchMode!"
                    [placeholder]="col.placeholder!"
                    [showMenu]="!col.template"
                ></p-columnFilter>
                @if (col.template) {
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-select 
                            [ngModel]="value" 
                            [options]="statusOptions" 
                            (ngModelChange)="filter($event)"
                            placeholder="Seleccionar"
                            [showClear]="true"
                            appendTo="body"
                            >
                        </p-select>
                    </ng-template>
                }
            </th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-resident let-rowIndex="rowIndex">
        <!-- (click)="onRowClick(resident, $event)" -->
        <!-- [ngClass]="getRowClass(resident)" -->
        <tr [pSelectableRow]="resident">
            <td [ngClass]="getColConfig('residentId').class">{{ resident.residentId}}</td>
            <td [ngClass]="getColConfig('name').class">{{ resident.name }}</td>
            <td 
                [ngClass]="getColConfig('dni').class"
            >{{ resident.dni | number}}</td>
            <td [ngClass]="getColConfig('accomodation').class">{{ enumService.getEnumName('accomodation', resident.accomodation) }}</td>
            <td [ngClass]="getColConfig('guardian').class">{{ resident.guardian }}</td>
            <td [ngClass]="getColConfig('guardianDni').class">{{ resident.guardianDni | number }}</td>
            <td [ngClass]="getColConfig('address').class">{{ resident.address }}</td>
            <td [ngClass]="getColConfig('phone').class">{{ resident.phone }}</td>
            <td [ngClass]="getColConfig('value').class">${{ resident.value | number }}</td>
            <td [ngClass]="getColConfig('paymentMethod').class">{{ enumService.getPaymentMethodNames(resident.paymentMethod) }}</td>
            <td [ngClass]="getColConfig('entryDate').class">{{ resident.entryDate | date: 'dd/MM/yyyy' }}</td>
            <td [ngClass]="getColConfig('months').class">{{ resident.months }}</td>
            <td [ngClass]="getColConfig('status').class">
                <span 
                    [pTooltip]="enumService.getEnumName('status', resident.status)"
                    [ngClass]="enumService.getEnumClass('status', resident.status)"
                    class="!text-center">
                </span> 
            </td>
            <td pFrozenColumn alignFrozen="right" class="!text-center">
                <p-button
                    icon="pi pi-pencil"
                    [rounded]="true"
                    [text]="true"
                    pTooltip="Editar"
                    tooltipPosition="left"
                    size="small"
                    (click)="editResident(resident)"
                ></p-button>
                <!-- <p-button
                    icon="pi pi-file-pdf"
                    pTooltip="Generar documentos"
                    tooltipPosition="left"
                    severity="success"
                    size="small"
                    (click)="generateDocuments(resident)"
                ></p-button> -->
            </td>
        </tr>
    </ng-template>
</p-table>